<!-- LOADING -->
<div *ngIf="!loaded" class="flex h-screen w-screen items-center justify-center">
  <div class="text-center">
    <logo></logo>
    <lucide-icon
      name="loader-2"
      class="text-alpha mt-6 h-9 w-9 animate-spin"
    ></lucide-icon>
  </div>
</div>

<!-- LOADED -->
<div *ngIf="loaded" class="flex h-screen items-center justify-center">
  <main>
    <header class="px-4 py-6 text-center">
      <logo></logo>
      <p class="mt-8 opacity-60">Click the 'mic' button to get started!</p>
    </header>

    <!-- POPULAR ALBUMS -->
    <div *ngIf="popularAlbums.length" class="container mx-auto">
      <ul
        class="flex items-center justify-center gap-4 overflow-x-auto lg:gap-6"
      >
        <li *ngFor="let album of popularAlbums" class="h-80 w-80">
          <img
            class="h-full w-full object-cover"
            [src]="album.image"
            [alt]="album.title + ' cover'"
            [title]="album.title + ' cover'"
          />
        </li>
      </ul>
    </div>
  </main>
</div>
