<!-- LOADING -->
<div *ngIf="!loaded" class="flex h-screen w-screen items-center justify-center">
  <div class="text-center">
    <logo></logo>
    <lucide-icon
      name="loader-2"
      class="text-alpha mt-6 h-9 w-9 animate-spin"
    ></lucide-icon>
  </div>
</div>

<!-- LOADED -->
<div *ngIf="loaded" class="flex h-screen items-center justify-center">
  <main>
    <header class="px-4 py-6 text-center">
      <logo></logo>
    </header>

    <!-- ALL GENRES -->
    <div *ngIf="genres.length" class="container mx-auto">
      <ul class="flex items-center justify-center overflow-x-auto">
        <li *ngFor="let genre of genres" class="w-96 shrink-0">
          <img
            class="mx-auto mb-4 h-80 w-80 object-cover shadow-md"
            [src]="genre.image"
            [alt]="'Picture of ' + genre.name"
            [title]="'Picture of ' + genre.name"
          />
          <div class="mb-4 text-center">
            <p class="text-xl font-medium opacity-80">{{ genre.name }}</p>
            <p class="text-base opacity-80">{{ genre.albums.length }} albums</p>
          </div>
        </li>
      </ul>
    </div>
  </main>
</div>
