<!------------- HOME PAGE ------------->

<!-- LOADING -->
<div *ngIf="!loaded" class="flex h-screen w-screen items-center justify-center">
  <div class="text-center">
    <logo></logo>
    <lucide-icon
      name="loader-2"
      class="text-alpha mt-6 h-9 w-9 animate-spin"
    ></lucide-icon>
  </div>
</div>

<!-- LOADED -->
<div *ngIf="loaded">
  <app-header></app-header>

  <!-- POPULAR -->
  <sub-title [subTitle]="'Popular'"></sub-title>
  <div
    *ngIf="popularAlbums.length"
    class="grid grid-cols-2 gap-2 px-6 pb-8 md:grid-cols-4 md:px-8 lg:grid-cols-5 lg:gap-4"
  >
    <div *ngFor="let album of popularAlbums">
      <div
        class="from-alpha to-alpha group relative cursor-pointer bg-gradient-to-t transition"
        [routerLink]="['/albums', album.albumId]"
      >
        <div class="relative">
          <img
            class="group/image mx-auto h-full shadow-md group-hover:opacity-20"
            [src]="album.image"
            [alt]="album.title + ' cover'"
            [title]="album.title + ' cover'"
          />
          <p
            class="{{
            (album.releaseDate | convertToDateCounter) >= 0
              ? 'absolute top-0 left-0 bg-neutral-800 bg-opacity-80 py-1 px-2 text-white'
              : 'hidden'
          }}"
          >
            {{ album.releaseDate | convertToDateCounter }} days
          </p>
        </div>
        <div
          class="absolute bottom-4 left-4 right-4 flex justify-between opacity-0 duration-300 group-hover:opacity-100"
        >
          <div>
            <p class="text-base">{{ album.artist.artistName }}</p>
            <p
              class="{{
              album.title.length > 15 ? 'text-lg' : 'text-xl'
            }}  font-medium text-neutral-100"
            >
              {{ album.title }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- GENRES -->
  <sub-title [subTitle]="'Genres'"></sub-title>
  <ul
    *ngIf="genres.length"
    class="flex items-center justify-start gap-2 overflow-x-auto px-6 pb-8 md:px-8"
  >
    <li class="flex shrink-0" *ngFor="let genre of genres">
      <div
        [routerLink]="['/genre', genre.genreId]"
        class="from-alpha to-alpha group relative mb-2 h-36 w-full cursor-pointer bg-gradient-to-t transition"
      >
        <div class="relative h-full w-full">
          <img
            class="group/image h-full w-full object-cover shadow-md group-hover:opacity-20"
            src="{{ genre.image }}"
            alt="{{ genre.name }}"
          />
          <p
            class="absolute left-4 bottom-4 text-2xl font-bold text-white group-hover:opacity-100"
          >
            {{ genre.name }}
          </p>
        </div>
      </div>
    </li>
  </ul>

  <!-- PRE-ORDERS -->
  <sub-title [subTitle]="'Pre-Order'"></sub-title>
  <div
    *ngIf="preOrderAlbums.length"
    class="grid grid-cols-2 gap-2 px-6 pb-8 md:grid-cols-3 md:px-8 lg:grid-cols-4 lg:gap-4"
  >
    <div
      *ngFor="let preOrder of preOrderAlbums"
      [routerLink]="['/albums', preOrder.albumId]"
      class="cursor-pointer hover:bg-neutral-200"
    >
      <div class="relative">
        <img
          class="mb-2 shadow-md"
          src="{{ preOrder.image }}"
          alt="{{ preOrder.title + 'cover' }}"
        />
        <p
          class="absolute top-0 left-0 bg-neutral-800 bg-opacity-80 py-1 px-2 text-white"
        >
          {{ preOrder.releaseDate | convertToDateCounter }} days
        </p>
      </div>
      <div class="px-2 py-4">
        <p class="text-sm opacity-60">{{ preOrder.artist.artistName }}</p>
        <p class="font-medium hover:underline">{{ preOrder.title }}</p>
      </div>
    </div>
  </div>
</div>
