<div class="h-full bg-neutral-50 text-dark dark:bg-neutral-800 dark:text-light min-h-screen flex flex-col">
    <app-header></app-header>

    <router-outlet class="overflow-y-auto"></router-outlet>
        
    <app-footer></app-footer>
</div>

<!-- <navigation></navigation>
<sub-title [subTitle]="'Popular'"></sub-title>
<albums-main></albums-main>

<sub-title [subTitle]="'Genres'"></sub-title>
<genres-component></genres-component>

<sub-title [subTitle]="'Pre-Order'"></sub-title>
<albums-sub></albums-sub> -->