<!-- LOADING -->
<div *ngIf="!loaded" class="flex h-screen w-screen items-center justify-center">
  <div class="text-center">
    <logo></logo>
    <lucide-icon
      name="loader-2"
      class="text-alpha mt-6 h-9 w-9 animate-spin"
    ></lucide-icon>
  </div>
</div>

<!-- LOADED -->
<div *ngIf="loaded" class="flex h-screen items-center justify-center">
  <main>
    <header class="px-4 py-6 text-center">
      <logo></logo>
    </header>

    <!-- ALL ALBUMS BY FILTER -->
    <div *ngIf="albumChosen" class="container">
      <div *ngFor="let album of albumChosen">
        {{ album.title }}
      </div>
    </div>
  </main>
</div>
