<div
  *ngIf="preOrderAlbums.length"
  class="grid grid-cols-2 gap-2 px-6 pb-8 md:grid-cols-3 md:px-8 lg:grid-cols-4 lg:gap-4"
>
  <div
    *ngFor="let preOrder of preOrderAlbums"
    [routerLink]="['/albums', preOrder.albumId]"
    class="cursor-pointer hover:bg-neutral-200"
  >
    <div class="relative">
      <img
        class="mb-2 shadow-md"
        src="{{ preOrder.image }}"
        alt="{{ preOrder.title + 'cover' }}"
      />
      <p
        class="absolute top-0 left-0 bg-neutral-800 bg-opacity-80 py-1 px-2 text-white"
      >
        {{ preOrder.releaseDate | convertToDateCounter }} days
      </p>
    </div>
    <div class="px-2 py-4">
      <p class="text-sm opacity-60">
        {{ preOrder.artist.artistName }}
      </p>
      <p class="font-medium hover:underline">{{ preOrder.title }}</p>
    </div>
  </div>
</div>
