<div
  *ngIf="popularAlbums.length"
  class="grid grid-cols-2 gap-2 px-6 pb-8 md:grid-cols-4 md:px-8 lg:grid-cols-5 lg:gap-4"
>
  <div *ngFor="let album of popularAlbums">
    <div
      class="from-alpha to-alpha group relative cursor-pointer bg-gradient-to-t transition"
      [routerLink]="['/albums', album.albumId]"
    >
      <div class="relative">
        <img
          class="group/image mx-auto h-full shadow-md group-hover:opacity-20"
          [src]="album.image"
          [alt]="album.title + ' cover'"
          [title]="album.title + ' cover'"
        />
        <p
          class="{{
            (album.releaseDate | convertToDateCounter) >= 0
              ? 'absolute top-0 left-0 bg-neutral-800 bg-opacity-80 py-1 px-2 text-white'
              : 'hidden'
          }}"
        >
          {{ album.releaseDate | convertToDateCounter }} days
        </p>
      </div>
      <div
        class="absolute bottom-4 left-4 right-4 flex justify-between opacity-0 duration-300 group-hover:opacity-100"
      >
        <div>
          <p class="text-base">{{ album.artist.artistName }}</p>
          <p
            class="{{
              album.title.length > 15 ? 'text-lg' : 'text-xl'
            }}  font-medium text-neutral-100"
          >
            {{ album.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
